'zhiren':
  'title': 'zhiren'
  'paths': [
    '/Users/farthinker/Sites/zhiren'
  ]
'simditor':
  'title': 'simditor'
  'paths': [
    '/Users/farthinker/Sites/simditor'
  ]
'simple-popover':
  'title': 'simple-popover'
  'paths': [
    '/Users/farthinker/Sites/simple-popover'
  ]
